@charset "UTF-8";

@font-face {
    font-family: 'Karla', sans-serif;
    src: url(../fonts/Karla-VariableFont_wght.ttf) format(ttf),
         url(../fonts/Karla-Italic-VariableFont_wght.ttf) format(ttf),
         url(../fonts/static/Karla-Bold.ttf) format(ttf),
         url(../fonts/static/Karla-Regular.ttf) format(ttf);
}
:root {
    --Green-200-lighter: hsl(148, 38%, 91%);
    --Green-600-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500-medium: hsl(186, 15%, 59%);
    --Grey-900-darker: hsl(187, 24%, 22%);
    
    --font-karla: 'Karla', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Green-200-lighter);
    font-family: var(--font-karla);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 16px;
}

main {
    background-color: var(--White);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.062);
    border-radius: 20px;
    padding: 1.2rem;
    width: 600px;
}

main h1 {
    padding-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form .span-required {
    display: none;
    color: var(--Red);
    font-size: 12px;
}

.breakRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.names, .queryType-options {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    gap: 1rem;
    margin-top: 6px;
    margin-bottom: 6px;
}

label, .query-title {
    font-family: var(--font-karla);
    font-size: 14px;
    color: var(--Grey-900-darker);
}

label span, p span {
    display: inline-block;
    color: var(--Green-600-medium);
}

#iemail, #ilastName, #ifirstName, .customRadio{
    border: 1px solid var(--Grey-500-medium);
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.customRadio input {
    display: none;
}
.radioChecked {
    background-color: var(--Green-200-lighter);
    border: 1px solid var(--Green-600-medium);
    cursor: pointer;
}

.customRadio label {
    cursor: pointer;
}

.customRadio input + label::before {
    content: '';
    width: 18px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid var(--Grey-500-medium);
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

.customRadio input:checked + label::before{
    background: url('../images/icon-radio-selected.svg');
    background-position: center center;
    border: none;
    box-sizing: border-box;
    width: 20px;
    height: 21px;
}

textarea {
    resize: none;
}

#imessage {
    border: 1px solid var(--Grey-500-medium);
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    outline: none;
}

input:focus {   
    border: 1px solid var(--Green-600-medium);
}

input::placeholder {
    font-size: 12px;
    letter-spacing: .6px;
    color: var(--Grey-500-medium);
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.checkbox label{
    cursor: pointer;
}

.checkbox span {
    margin-top: 8px;
}

.checkLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



.btn-submit {
    background-color: var(--Green-600-medium);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: .8rem .6rem;
    color: white;
    cursor: pointer;
}


.success-message {
    position: absolute;
    top: -100px;
    left: 35%;
}

.pop-up {
    position: relative;
    top: 120px;
    left: 0;
}

.pop-up1 {
    background-color: var(--Grey-900-darker);
    border-radius: 15px;
    font-family: var(--font-karla);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .4px;
    color: var(--White);
    max-width: 410px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.pop-up h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    font-size: 16px
}
